#weather {
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  height: 100%;
}

.search-box {
  width: 50%;
  height: 20%;
  margin: auto;
}
.weather-wrap {
  width: 50%;
  height: 50%;
  margin: auto;
}

.search-box select {
  height: 2em;
  font-size: 1.5em;
  color: #fff;
  border: none;
  text-align: center;
  width: 50%;
  background: transparent;
}

.search-box select option {
  font-size: 0.5em;
  color: black;
}

/* CSS */
button {
  width: 10%;
  height: 30%;
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0px 5px;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  color: aqua;
}

.location-box {
  width: auto;
  height: 30%;
}

.location-box .location {
  font-size: 32px;
  font-weight: 500;
  height: 50%;
  color: aliceblue;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.location-box .date {
  font-size: 20px;
  font-weight: 300;
  height: 50%;
  color: aliceblue;
  font-style: italic;
  text-align: center;
}
.weather-box {
  text-align: center;
  width: auto;
  height: 70%;
}

.weather-box .temp {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px 25px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;

  text-shadow: 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.weather-box .weather {
  width: auto;
  height: auto;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
